:root {
    --color-kek:#2E2F42;
    --color-active-kek:#404BBF;
    --color-button:#4D5AE5;
    --color-kekl:#434455;
    --color-main:#FFFFFF;
    --c-bgc-light: #FFF;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
button {
    font-family: inherit;
}
.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--color-button);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-accent {
    color:var(--color-kek)
}
.info {
    font-style: normal
}
.nav-link:first-child {
    color: var(--color-kek);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-link:nth-child(2) {
    color: var(--color-kek);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-link:focus {
    color: var(--color-active-kek);
}
.nav-link:hover {
    color: var(--color-active-kek);
}
.h1 {
    color:var(--color-main);
    background-color: var(--color-kek);
    width: 1440px;
    height: 600px;
    top: 72px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--c-bgc-light);
    color:var(--color-kekl);
}
.inf {
    color:var(--color-kekl);
    font-size: 16px;
    font-weight: 400;
    line-height: 0.66; /* 150% */
    letter-spacing: 0.02em;
}
.inf:active {
    color:var(--color-active-kek);
}
.button {
    color:var(--color-main);
    background-color:var(--color-button);
    border: 0;
    cursor: pointer;
    font-weight: 500;
    padding: 16px 32px;
    border-radius: 4px;
    line-height: 1.5;
}
.button:hover {
    background-color:var(--color-active-kek);
}
.kings {
    color:var(--color-kek);
}
.narratives {
    color:var(--color-kekl);
}
.team {
    color:var(--color-kek);
}
.name {
    color:var(--color-kek);
}
.prof {
    color:var(--color-kekl);
}
.portfol {
    color:var(--color-kek);
}
.app {
    color:var(--color-kek);
}
.mark {
    color: var(--color-kekl);
}