.h1 {
    color:#FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.nav-link {
   color: #2E2F42;
}
.nav-link:active {
    color:#404BBF;
}
.inf {
    color:#434455;
}
.inf:active {
    color:#404BBF;
}
.button {
    color:white;
    background-color: #4D5AE5;
    border: 0;
    cursor: pointer;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.button:hover {
    background-color: #404BBF;
}
.kings {
    color:#2E2F42;
}
.narratives {
    color:#434455;
}
.team {
    color: #2E2F42;
}
.name {
    color: #2E2F42;
}
.prof {
    color: #434455;
}
.portfol {
    color: #2E2F42;
}
.app {
    color: #2E2F42;
}
.mark {
    color: #434455;
}